<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
  <%include ../partials/header.ejs %>
  <main>
    <div class="container">
      <h1><%= title %></h1><label>Edit your account</label><br>
      <br>
      <div class="row">
      <form action="%3C%=%20'/user/'%20+%20user.id%20+%20'?_method=PUT'%20%%3E" autocomplete="on" method="post">
        <div>
          <label>Username: (Max 12 characters)</label> <input maxlength="12" name="username" required="" type="text" value="<%= user.username %>">
        </div><!-- Password field must be hashed and salted at edit
          <div>
            <label>Password: (8-12 characters)</label>
            <input type="password" name="password" maxlength="12" value="<%= user.password %>"
             required/>
          </div>
        -->
        <div>
          <label>First Name:</label> <input maxlength="12" name="firstName" type="text" value="<%= user.firstName %>">
        </div>
        <div>
          <label>Last Name:</label> <input maxlength="12" name="lastName" type="text" value="<%= user.lastName %>">
        </div>
        <div>
          <label>Email:</label> <input name="email" type="email" value="<%= user.email %>">
        </div>
        <div>
          <label>Mobile telephone number: (format: XXXXXXXXXX)</label> <input name="cellNumber" type="tel" value="<%= user.cellNumber %>">
        </div>
        <div>
          <label>Date of Birth:</label> <input name="dob" type="date" value="<%= user.dob %>">
        </div>
        <div>
          <button class="waves-effect waves-light btn-large blue" type="submit">Update account</button>
        </div>
      </form>
      <form action="%3C%=%20'/user/'%20+%20user.id%20+%20'?_method=DELETE'%20%%3E" method="post">
        <button class="waves-effect waves-light btn-large red" onclick="alertUser()" type="submit">Delete account</button>
      </form>
      </div>
    </div>
  </main>
  <%include ../partials/footer.ejs %>
  <script>
  let alertUser = function() {
     alert('Sorry to see you go!');
  }
  </script>
</body>
</html>
