<html>
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="container">
        <div class="container">
        <h1> <%= title %> </h1>
        <label>Edit your account</label>
        <br>
        <br>
        <form action="<%= '/user/' + user.id + '?_method=PUT' %>" method="POST" autocomplete="on">
          <div>
            <label>Username: (Max 12 characters)</label>
            <input type="text" name="username" maxlength="12" value="<%= user.username %>" required
              />
          </div>
        <!--
          <div>
            <label>Password: (8-12 characters)</label>
            <input type="password" name="password" maxlength="12" value="<%= user.password %>"
             required/>
          </div>
        -->
          <div>
            <label>First Name:</label>
            <input type="text" name="firstName" maxlength="12" value="<%= user.firstName %>" required/>
          </div>
          <div>
            <label>Last Name:</label>
            <input type="text" name="lastName" maxlength="12" value="<%= user.lastName %>" required/>
          </div>
          <div>
            <label>Email:</label>
            <input type="email" name="email" value="<%= user.email %>" required/>
          </div>
          <div>
            <label>Mobile telephone number: (format: XXXXXXXXXX)</label>
            <input type="tel" name="cellNumber" value="<%= user.cellNumber %>"
            required/>
          </div>
          <div>
            <label>Date of Birth:</label>
            <input name="dob" type="date" value="<%= user.dob %>" required/>
          </div>
          <div>
            <button class="waves-effect waves-light btn-large blue" type="submit">Update account</button>
          </div>
        </form>
        <form action="<%= '/user/' + user.id + '?_method=DELETE' %>" method="POST">
          <button class="waves-effect waves-light btn-large red" onClick=alertUser() type="submit">Delete account</button>
        </form>
        </div>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
<script>
let alertUser = function() {
    alert('Sorry to see you go!');
}


</script>
</html>
