<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>

           <main>
           <div class="container">
             <h1><i>Cakes</i></h1>

             <div class="wrapper">
                <% cakes.forEach(function(cake) {%>
                   <aside><h4><%= cake.productName.toUpperCase() %></h4></aside>
                         <div class="row">
                              <div class="col s12 m7">
                                <div class="card card large">
                                  <div class="card-image">
                                    <img class="grow" src="<%=cake.image%>" alt=" <%= cake.productName %>">
                                    <aside class="card-title categorycctitle"><%= cake.productName %></aside>
                                  </div>
                                  <div class="card-content">
                                   <h5> Priced From $ <%= (cake.price *.01).toFixed(2) %></h5>
                                   <p>Pictures are of past orders. Actual items can be customized.</p>
                                  </div>
                                  <div class="card-action">
                                  <a href="/products/<%= cake.id %>">View More</a>
                                  </div>

                                </div>
                              </div>
                             </div>
                            <br>
                         <hr>
                    <% }) %>

       </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
