<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>

    <main>
      <div class="container">
        <div class="wrapper">
         <h1><i>Cakes</i></h1>

         <% cakes.forEach(function(cake) {%>
             <div>
               <h4><%= cake.productName %></h4>
               <p><%= cake.description %></p>
              <p><%= cake.dietaryRestrictions %></p>
              <p> <%= cake.price *.1%></p>

                <%  if(cake.alcohol) {%>
               <p>Alcohol Content: Yes</p>
                <% } else {%>
                  <p>Alcohol Content: No</p>
                 <% };%>
           <div><a class="waves-light btn-large blue"  href="/products/<%= cake.id %>">View More</a></div>
              </div>
       <% }) %>
      </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
