<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>

    <main>

          <h1><i>Cupcakes</i></h1>
           <main>
           <div class="container">
                 <div class="wrapper">
                    <% cupcakes.forEach(function(cupcake) {%>

                                  <div class="col s12 m7">
                                    <div class="card">
                                      <div class="card-image">
                                        <img src="<%=cupcake.image%>" alt=" <%= cupcake.productName %>>
                                        <span class="card-title"><%= cupcake.productName %></span>
                                      </div>
                                      <div class="card-content">
                                      <p> Priced From $ <%= (cupcake.price *.01).toFixed(2) %></p>
                                      </div>
                                      <div class="card-action">
                                      <a href="/products/<%= cupcake.id %>">View More</a>
                                      </div>
                                    </div>
                                  </div>


       </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
