<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="wrapper">

          <h1>Cupcakes</h1>

       <% cupcakes.forEach(function(cupcake) {%>
             <div>
         <!--   <img src="/public/images<%=cupcake.image%>">
              <img src="/images/cakes/uppineapplecake.jpg">" -->
               <h4><%= cupcake.productName %></h4>
               <p><%= cupcake.description %></p>
              <p><%= cupcake.dietaryRestrictions %></p>
              <p> Per Cupcake: <%= cupcake.price *.01 %></p>
              <p> Minimum: <%= cupcake.unitSize%></p>
                <%  if(cupcake.alcohol) {%>
               <p>Alcohol Content: Yes</p>
                <% } else {%>
                  <p>Alcohol Content: No</p>
                 <% };%>
             <button><a href="<%= `./item/${cupcake.id}`%>" ">View More</a></button>
              </div>
       <% }) %>

        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
