<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <div class="container">
      <div class="wrapper" id="itemView">
        <main>
        <br>
          <!-- Product Category -->
          <p>
            <span>Category:</span>
            <%= productDetails.category %>
          </p>
          <!-- Product Description H1 -->
          <h1><%= productDetails.productName %></h1>
          <!-- Product Description -->
          <div class="desc">
            <h4><%= productDetails.productName %>...</h4>
            <%= productDetails.description%>
          </div>
          <!-- Product Image -->
          <p>
            <img class="materialboxed" src='<%= productDetails.image %>' />
          </p>

          <!--Alcohol Content Info -->
          <p>
            <span>Alchol Content:</span>
            <!-- Checking if it's alcolohic -->
            <%= productDetails.alcohol?productDetails.alcohol='Yes':productDetails.alcohol='No'  %>
          </p>
          <!-- Product Size - Order Count -->
          <p>
            <span>Unit Size: </span>
            <%= productDetails.unitSize%>
          </p>
          <!--Ingredients / Dietary Info -->
          <p>
            <span>Ingredients: </span>
            <%= productDetails.dietaryRestrictions%>
          </p>
          <!-- Price -->
          <p>

            <span>Price: $</span>
            <%= (productDetails.price * 0.01).toFixed(2)  %> per cupcake
         </p>
         <form action="/order/newOrder" method="post">
           <!-- Quantity. Materialize gave it a display of none by default? -->
           <!-- input field to hold product Id. Display of none. -->
           <input style="display:none" value='<%= productDetails.id %>' name="productId" />
           <!-- input field to hold user id. Display of none -->
           <select name="quantity" id="selectQuantity">
               <option>Select a quantity</option>
               <option value="1">1 Dozen @ $<%= (productDetails.price * 0.01)*12 %></option>
               <option value="2">2 Dozen @ $<%= (productDetails.price * 0.01)*24 %></option>
               <option value="3">3 Dozen @ $<%= (productDetails.price * 0.01)*36 %></option>
          </select>
          <br>
           <!-- Add to Cart button -->
          <input class="waves-light btn-large blue" type="submit" value="Add to Cart" />
         </form>
         <br>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
