<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <h1><%= productDetails.productName %></h1>
      <div class="container">
        <div class="wrapper" id="itemView">
          <!-- Product Image -->
          <p>
            <img src='<%= productDetails.image %>' />
          </p>
          <!-- Product Category -->
          <p>
            <span>Category:</span>
            <%= productDetails.category %>
          </p>
          <!--Alcohol Content Info -->
          <p>
            <span>Alchol Content:</span>
            <!-- Checking if it's alcolohic -->
            <%= productDetails.alcohol?productDetails.alcohol='Yes.':productDetails.alcohol='No.'  %>
          </p>
          <!-- Product Size - Order Count -->
          <p>
            <span>Unit Size:</span>
            <%= productDetails.unitSize%>
          </p>
          <!-- Product Description -->
          <p>
            <span>Description:</span>
            <%= productDetails.description%>
          </p>
          <!--Ingredients / Dietary Info -->
          <p>
            <span>Ingredients:</span>
            <%= productDetails.dietaryRestrictions%>
          </p>
          <!-- Price -->
          <p>

            <span>Price: $</span>

            <%= (productDetails.price * 0.01)  %>
         </p>
         <!-- Adding user order to Orders table -->
         <form action="/order/newOrder" method="post">
           <!-- Quantity. Materialize gave it a display of none by default? -->
           <!-- input field to hold product Id. Display of none. -->
           <input style="display:none" value='<%= productDetails.id %>' name="productId" />
           <!-- input field to hold user id. Display of none -->
           <select name="quantity" id="selectQuantity">
               <option>Select a quantity</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
          </select>
           <!-- Add to Cart button -->
          <input class="waves-light btn-large blue" type="submit" value="Add to Cart" />
         </form>


        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
