<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <div class="wrapper">
          <h1><i>Strawberries</i></h1>
            <% strawberries.forEach(function(strawberry) {%>
          <div>
            <img src="<%=strawberry.image%>" alt=" <%= strawberry.productName %> image" height="200" width="200" >
            <h4><%= strawberry.productName %></h4>
            <p> Priced From $ <%= (strawberry.price *.01).toFixed(2) %></p>
            <div><a class="waves-light btn-large blue"  href="/products/<%= strawberry.id %>">View More</a></div>
            <br>
            <hr>
            </div>
          <% }) %>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
